

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.parralax{
}

.sol{
margin-top: 0px;
z-index: 10;
width: 100%;
}

.flappy{
	margin-left: 20%;

	z-index: 999;
}

















