

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.active{
	background-color: #51C8D7;
}

.carousel-caption h1{
			font-family: 'Press Start 2P', cursive;
			margin-bottom:60px;

}

.flappy_presentation{
		background-color: #FF8F62;

	margin-top:auto;
	margin-bottom: auto;
		text-align: center;
}

.flappy_text{
	margin-top:8%;
	margin-bottom: 100px;
}

.featurette-heading{
	color: white;
}

.tuyau{
	margin-left: 400px;
	height: 300px;
}

.flappy_control{
	background-color: #51C8D7;
	text-align: center;
}



.flappy_plateform{
	padding-top: 10px;
	text-align: center;
	background: url(../img/longsol.png) center top repeat-x;
	margin-left: 0;
	margin-right: 0;
	background-color: #DED894;

}

footer{
	text-align: center;
}
